In [1]:
import requests
import json
import pandas as pd
import numpy as np

>Consider a dataset providing information on the functionality of infrastructure resources,
for each water point it includes the name of the village it is in and its functional state.
Implement a data processing module in python which takes a dataset URL as input and
returns:

1. The number of water points that are functional,
2. The number of water points per community,
3. The rank for each community by the percentage of broken water points.

In [2]:
url = "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"


df = pd.read_json(url)

In [3]:
df.head(3)

  water_pay respondent  ... simserial subscriberid
0        no  community  ...       NaN          NaN
1        no  community  ...       NaN          NaN
2        no  community  ...       NaN          NaN

[3 rows x 48 columns]

###### No of Water Points that are functional

In [4]:
df['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

###### The number of water points per community

In [14]:
df.groupby('communities_villages')['water_point_condition'].agg(len)

communities_villages
Abanyeri        4
Akpari-yeri     3
Alavanyo        3
Arigu          12
Badomsa        27
               ..
Zogsa           6
Zua            28
Zuedema        18
Zukpeni         6
Zundem         30
Name: water_point_condition, Length: 65, dtype: int64

##### The rank for each community by the percentage of broken water points

In [9]:
broken = df[df['water_point_condition']=='broken']

In [11]:
broken.groupby('communities_villages')['water_point_condition'].value_counts().sort_values(ascending=False)

communities_villages  water_point_condition
Nayoku                broken                   6
Loagri_1_             broken                   4
Kubore                broken                   4
Bandem                broken                   2
Gbaarigu              broken                   2
Namgurima             broken                   2
Arigu                 broken                   2
Soo                   broken                   2
Vundema               broken                   2
Zanwara               broken                   2
Nyankpiensa           broken                   1
Luisa                 broken                   1
Longsa                broken                   1
Zogsa                 broken                   1
Tantala               broken                   1
Kpatarigu             broken                   1
Kanwaasa              broken                   1
Kaasa                 broken                   1
Jagsa                 broken                   1
Guuta                 broken                   1
Banyangsa             broken                   1
Zukpeni               broken                   1
Name: water_point_condition, dtype: int64

##### Rank of Communities by functioning water points

In [13]:
functioning  = df[df['water_point_condition']=='functioning']

functioning.groupby('communities_villages')['water_point_condition'].value_counts().sort_values(ascending=False)

communities_villages  water_point_condition
Kpatarigu             functioning              43
Jagsa                 functioning              34
Nayoku                functioning              29
Nabulugu              functioning              29
Zundem                functioning              29
                                               ..
Gbaarigu              functioning               2
Garigu                functioning               1
Suik                  functioning               1
Gumaryili             functioning               1
Jiniensa              functioning               1
Name: water_point_condition, Length: 64, dtype: int64

## Additional questions to be answered from the dataset

1. Water source types in different communities

In [15]:
df.groupby('communities_villages')['water_source_type'].value_counts()

communities_villages  water_source_type
Abanyeri              borehole              2
                      protected_well        1
                      unprotected_well      1
Akpari-yeri           borehole              1
                      other                 1
                                           ..
Zukpeni               borehole              5
                      unprotected_well      1
Zundem                unprotected_well     21
                      protected_well        5
                      borehole              4
Name: water_source_type, Length: 166, dtype: int64

2. Communities by total water sources

In [17]:
df.groupby('communities_villages')['water_source_type'].agg(len).sort_values(ascending=False)

communities_villages
Kpatarigu    51
Jagsa        38
Nayoku       35
Guuta        32
Nabulugu     31
             ..
Garigu        1
Gumaryili     1
Suik          1
Jiniensa      1
Kalaasa       1
Name: water_source_type, Length: 65, dtype: int64

4. Water developers for all communities count

In [18]:
df['water_developer'].value_counts()

individual          244
local_autority      132
community           132
international       132
state_government     54
private               6
na_dn                 6
public                4
other'                2
Name: water_developer, dtype: int64

In [19]:
df.groupby('communities_villages')['water_developer'].value_counts()

communities_villages  water_developer
Abanyeri              local_autority      3
                      community           1
Akpari-yeri           local_autority      2
                      other'              1
Alavanyo              community           2
                                         ..
Zukpeni               community           1
Zundem                individual         12
                      community          10
                      international       4
                      local_autority      4
Name: water_developer, Length: 167, dtype: int64